<?php
/**
 * PADAWAN - PHP AST-based Detection of Antipatterns, Workarounds And general Nuisances
 * 
 * @package    Padawan
 * @author     Florian Anderiasch, <anderiasch at mayflower.de>
 * @copyright  2007-2009 Mayflower GmbH, www.mayflower.de
 * @version    $Id:$
 */
// uncomment the line below if "which" doesn't find phc (http://phpcompiler.org)
$padawan['phc'] = trim(`which phc 2> /dev/null`);
//$padawan['phc'] = '/path/to/phc';

// in the creation step, let phpcompiler parse your php files to .xml, .dot or both
$padawan['skip_dot']    = false;
$padawan['skip_xml']    = false;
$padawan['extensions']  = array('php', 'php3', 'php4', 'php5', 'phtml');

// don't change anything here unless you know what you are doing.
$padawan['debug'] = false;

// this is not needed at the moment, you'll only need the output padawan.xml
$padawan['skip_csv'] = true;
$padawan['skip_txt'] = true;

?>
